:root {
      --bg: #ffffff;
      --navText: #605e5e;
    }
    body { font-family: 'Segoe UI'; background: var(--bg); }

    
    .bd-navbar {
        border-bottom: 1px solid var(--navText); 
    }
    .bd-navbar .nav-link { 
        font-weight: 500; color: var(--navText); 
    }
    .bd-navbar .nav-link:hover {
        color: black; 
    }

  
    .hero-content h1 { 
        font-size: 3rem; 
        font-weight: 800; 
    }
    .hero-content p { 
        font-size: 1.125rem; 
        color: var(--navText); 
    }
    .figure-media { 
        background: #f3f4f6; 
        aspect-ratio:9 / 16; 
        width: 100%; 
        height: 100%; 
        background-size: cover; 
        object-fit: cover; 
        background-position: center; 
    } 
    .square-media{
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;
    }
    .card{
        border: none;
        border-radius: 0;
    }
    .subTitle{
        font-size: xx-small;
        color: var(--muted);
        padding: 4px;
        font-weight: 700;
    }
    .active{
        background-color:crimson;
        padding: 4px 10px;
        border-radius: 8px;
        color:var(--bg) !important;
    }